<div class="f-info">
    <div class="f-socials">
<a href="https://www.instagram.com/volatileaman/"><i class="fa-brands fa-instagram"></i></a>
       <a href="https://www.youtube.com/@YOI860"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.linkedin.com/in/aman-jha-142269307/"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div>&copy; Wanderlust Private Limited</div>
    <div class="name"> &nbsp;Author:Aman</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div>